/* VARIABLE */
/* BASE */
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/* line 6, ../scss/app.scss */
body,
html {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 16, ../scss/app.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 21, ../scss/app.scss */
.container-fluid {
  padding: 0px;
}

/* line 25, ../scss/app.scss */
.container {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  *zoom: 1;
}

/* line 31, ../scss/app.scss */
.site-content {
  padding-top: 66px;
}

/* HEADER */
/* line 36, ../scss/app.scss */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #FFF;
  background-image: url("../images/header.png");
  border-bottom: 4px solid #d35400;
  background-repeat: repeat;
  background-position: left;
}

/* line 49, ../scss/app.scss */
.header__logo {
  font-weight: bold;
  padding: 0px 10px;
  float: left;
}

/* MENU */
/* line 56, ../scss/app.scss */
.menu {
  float: right;
}
/* line 59, ../scss/app.scss */
.menu a {
  padding: 0 10px;
}
/* line 63, ../scss/app.scss */
.menu a:hover {
  color: #ba4a00;
}

@media only screen and (max-width: 750px) {
  /* line 5, ../scss/responsive.scss */
  .site-container,
  .site-pusher {
    height: 100%;
  }

  /* line 10, ../scss/responsive.scss */
  .site-container {
    overflow: hidden;
  }

  /* line 14, ../scss/responsive.scss */
  .site-pusher {
    height: 100%;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 20, ../scss/responsive.scss */
  .site-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #FFF;
  }

  /* line 32, ../scss/responsive.scss */
  .header {
    position: static;
  }

  /* line 36, ../scss/responsive.scss */
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 35px;
    height: 50px;
    cursor: pointer;
  }
  /* line 44, ../scss/responsive.scss */
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    -moz-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    -webkit-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
  }

  /* line 56, ../scss/responsive.scss */
  .menu {
    position: absolute;
    left: 0;
    top: 66px;
    bottom: 0;
    background-color: #000;
    border-right: 4px solid #d35400;
    width: 200px;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  /* line 66, ../scss/responsive.scss */
  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #d35400;
  }
  /* line 74, ../scss/responsive.scss */
  .menu a:hover {
    color: #ba4a00;
  }

  /* line 80, ../scss/responsive.scss */
  .with--sidebar .site-pusher {
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
  }
  /* line 84, ../scss/responsive.scss */
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-color: rgba(0, 0, 0, 0.6);
  }
}
/* VARIABLE */
/* line 5, ../scss/footer.scss */
.myfooter {
  background-color: black;
  color: white;
  text-align: justify;
}
/* line 9, ../scss/footer.scss */
.myfooter h1 {
  text-align: center;
  border-left: solid;
  border-color: #d35400;
}
/* line 14, ../scss/footer.scss */
.myfooter ul {
  list-style-type: none;
  text-align: center;
}
/* line 18, ../scss/footer.scss */
.myfooter .social-icon {
  padding: 0px;
  margin: 0px;
}
/* line 21, ../scss/footer.scss */
.myfooter .social-icon a {
  display: inline-block;
  color: #fff;
  font-size: 25px;
  padding: 5px;
}
/* line 29, ../scss/footer.scss */
.myfooter .acount-icon a {
  display: block;
  color: #fff;
  font-size: 18px;
  padding: 5px;
  text-decoration: none;
}
/* line 36, ../scss/footer.scss */
.myfooter .acount-icon .fa {
  margin-right: 25px;
}
/* line 40, ../scss/footer.scss */
.myfooter ul.social {
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}
/* line 44, ../scss/footer.scss */
.myfooter ul.social li {
  display: inline;
  margin: 0 5px;
}
/* line 50, ../scss/footer.scss */
.myfooter .social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
/* line 57, ../scss/footer.scss */
.myfooter .social a.icoFacebook:hover {
  background-color: #3B5998;
}
/* line 59, ../scss/footer.scss */
.myfooter .social a.icoFacebook:hover i {
  color: #fff;
}
/* line 63, ../scss/footer.scss */
.myfooter .social a.icoTwitter:hover {
  background-color: #33ccff;
}
/* line 65, ../scss/footer.scss */
.myfooter .social a.icoTwitter:hover i {
  color: #fff;
}
/* line 72, ../scss/footer.scss */
.myfooter .social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
}
/* line 84, ../scss/footer.scss */
.myfooter .social-circle li a:hover i {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 96, ../scss/footer.scss */
.myfooter .social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}
/* line 102, ../scss/footer.scss */
.myfooter .social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

/* line 113, ../scss/footer.scss */
a.myfooter .socialIcon:hover {
  color: #44BCDD;
}
