/* VARIABLE */
/* line 4, ../scss/footer.scss */
footer.nb-footer {
  position: relative;
  background-color: #000;
  font-family: Roboto;
  border-top: 4px solid #d35400;
}

/* line 12, ../scss/footer.scss */
footer.nb-footer .about {
  margin: 40px auto 0;
  max-width: 1170px;
  text-align: center;
}
/* line 16, ../scss/footer.scss */
footer.nb-footer .about p {
  font-size: 13px;
  color: #fff;
  margin-top: 30px;
}

/* line 23, ../scss/footer.scss */
footer.nb-footer .about .social-media {
  margin-top: 15px;
}
/* line 25, ../scss/footer.scss */
footer.nb-footer .about .social-media ul li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 16px;
  color: #d35400;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
/* line 35, ../scss/footer.scss */
footer.nb-footer .about .social-media a:hover {
  background: #d35400;
  color: #000;
  border-color: #d35400;
}

/* line 42, ../scss/footer.scss */
footer.nb-footer .footer-info-single .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  border-left: 4px solid #d35400;
  padding-left: 5px;
}

/* line 50, ../scss/footer.scss */
footer.nb-footer .footer-info-single {
  margin-top: 30px;
}
/* line 52, ../scss/footer.scss */
footer.nb-footer .footer-info-single ul li a {
  display: block;
  color: #fff;
  padding: 2px 0;
}
/* line 57, ../scss/footer.scss */
footer.nb-footer .footer-info-single a:hover {
  color: #ba4a00;
}
/* line 60, ../scss/footer.scss */
footer.nb-footer .footer-info-single p {
  font-size: 13px;
  line-height: 20px;
  color: #fff;
}

/* line 67, ../scss/footer.scss */
footer.nb-footer .copyright {
  margin-top: 15px;
  background: #111;
  color: #fff;
  text-align: center;
}
