@import "compass";
/* VARIABLE */
$header-bg: #d35400; 

/* BASE */
body,
html {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container-fluid {
	padding: 0px;
}

.container {
  margin: 0px;
  @include clearfix;
}

.site-content {
  padding-top: 66px;
}

/* HEADER */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #FFF;
  background-image: url("../images/header.png");
  border-bottom: 4px solid $header-bg;
  background-repeat: repeat;
  background-position: left;
}

.header__logo {
  font-weight: bold;
  padding: 0px 10px;
  float: left;
}

/* MENU */
.menu {
	float: left;

  a {
    padding: 0 10px;
  }

  a:hover {
    color: darken(#FFF,50);
  }
}
@import "responsive";
@import "footer";